################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.cache
/ObraJa/acme.sistemas.obra.api/bin
/ObraJa/acme.sistemas.obra.api/obj